<header>
  <section id="title">
    <a href="/"> Awesome Title </a>
  </section>
  <nav id="head-links">
    <a href="/"> <span class="glyphicon glyphicon-home"></span> Home </a>
    <a href="/resources"> <span class="glyphicon glyphicon-book"></span> Resources </a>
    <a href="/files"> <span class="glyphicon glyphicon-folder-open"></span> My Code </a>
    <a href="/editor"> <span class="glyphicon glyphicon-list-alt"></span> Editor </a>
  </nav>
</header>

