<!-- Represents user section of header when logged in -->
<!-- Called by header.ejs when user is logged in, so assumes existence of user var -->

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-user"></span> Hello <%= user.username %>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">My Profile</a></li>
    <li><a href="/files">My Code</a></li>

    <% if (user.username == "admin") { %>
      <li><a href="/students">Student Code</a></li>
    <% } %>

    <li class="divider"></li>
    <li><a href="/signout">Sign Out</a></li>
  </ul>
</li>
