body {
  background-color: #FFFFFF;
}

/* Style for Header */

header {
  height: 50px;
  width: 100%;
  top: 0px;
}

#header-ops li { /*All links in header*/
  color: black;
  text-align: center;
  font-size: 110%;
}

#title-head {
  text-align: center;
  color: black;
  font-size: 2em;
}

#header-ops li:hover {
  background-color: #999999;
}

/* Style for Footer */

#foot-contents {
  position: fixed;
  width: 100%;
  background-color: #CCCCCC;
  bottom: 0px;
}
