body {
  background-color: #FFFFFF;
}


/* Style for Header */

header {
  background-color: #EEEEEE;
  text-align: right;
  height: 50px;
  width: 100%;
  top: 0px;
}

header div div {  /*rows in header*/
  height: 50px;
}

#home-head, #resources-head, #editor-head, #user-head {
  color: black;
  text-align: center;
  padding: 5px;
  font-size: 110%;
}

#title-head {
  text-align: center;
  color: black;
  font-size: 2em;
}

#home-head:hover, #resources-head:hover, #editor-head:hover, #title-head:hover, #user-head:hover {
  background-color: #999999;
}

/* Style for Footer */

#foot-contents {
  position: fixed;
  width: 100%;
  background-color: #CCCCCC;
  bottom: 0px;
}
