
  <div class="container-fluid"> <!-- Keeps header from going off of side of page -->
    <div class="row">

      <a href="/">
        <div class="col-md-3" id="title-head"> Awesome Title </div>
      </a>

      <div class="col-md-3"></div>

      <!-- This div will change its contents according to the current user -->
      <!-- See 'usermenu.ejs' for how it looks when user is logged it -->

      <% if(typeof user != 'undefined') { %>
        <% include usermenu.ejs %>
      <% } else { %>
        <a href="/login"> <div class="col-md-2" id="login-head">
        <span class="glyphicon glyphicon-user"></span>
          Login or Sign Up
        </div> </a>
      <% } %>

      <div class="col-md-1"></div>

      <!-- These divs are the options on the right of the menu -->

      <a href="/"> <div class="col-md-1" id="home-head">
        <span class="glyphicon glyphicon-home"></span> Home
      </div> </a>

      <a href="/resources"> <div class="col-md-1" id="resources-head">
        <span class="glyphicon glyphicon-book"></span> Learn
      </div> </a>

      <a href="/editor"> <div class="col-md-1" id="editor-head">
        <span class="glyphicon glyphicon-list-alt"></span> Editor
      </div> </a>

    </div>
  </div>
