<h1>Editor</h1>

<form>
  <textarea id="yourcode" cols="40" rows="10">
import turtle

t = turtle.Turtle()
t.forward(100)

print "Hello World"
  </textarea><br />
  <button type="button" onclick="runit()">Run</button>
</form>

<!-- Actual custom Python environment script -->
<script src="scripts/editor_env.js" type="text/javascript"></script>

<pre id="output"></pre>

<!-- If you want turtle graphics include a canvas -->
<canvas id="mycanvas" ></canvas>
