<h1>Learning Resources</h1>
<br />

<h2>Contents</h2>
<br />
<ol style="font-size: 1.3em;">
  <li> <a href="/resources_ch1"> Getting Started </a> </li>
  <li> <a href="/resources_ch2"> Input and Output </a> </li>
  <li> <a href="/resources_ch3"> Arithmetic and Data types </a> </li>
  <li> <a href="/resources_ch4"> Control flow: If statements </a> </li>
  <li> <a href="/resources_ch5"> Control flow: Looping </a> </li>
  <li> <a href="/resources_ch6"> Functions </a> </li>
  <li> <a href="/resources_ch7"> Lists, Tuples and Dictionaries </a> </li>
  <li> <a href="/resources_ch8"> Functional Programming </a> </li>
  <li> <a href="/resources_ch9"> Object-Oriented Programming </a> </li>
  <li> <a href="/resources_ch10"> Error Handling </a> </li>
</ol>

<br />

<h2>External Links</h2>
<br />
<ul style="font-size: 1.3em;">
</ul>

<br />

<h2>Videos</h2>

<br />
