<h1>Learning Resources</h1>
<br />

<h2>Contents</h2>
<br />
<ol style="font-size: 1.3em;">
  <li> <a href="/resources/ch1"> Getting Started </a> </li>
  <li> <a href="/resources/ch2"> Input and Output </a> </li>
  <li> <a href="/resources/ch3"> Arithmetic and Data types </a> </li>
  <li> <a href="/resources/ch4"> Control flow: If statements </a> </li>
  <li> <a href="/resources/ch5"> Control flow: Looping </a> </li>
  <li> <a href="/resources/ch6"> Functions </a> </li>
  <li> <a href="/resources/ch6"> Lists, Tuples and Dictionaries </a> </li>
  <li> <a href="/resources/ch7"> Functional Programming </a> </li>
  <li> <a href="/resources/ch8"> Object-Oriented Programming </a> </li>
  <li> <a href="/resources/ch9"> Error Handling </a> </li>
</ol>

<br />

<h2>External Links</h2>
<br />
<ul style="font-size: 1.3em;">
</ul>

<br />

<h2>Videos</h2>

<br />
